html,
body {
  margin: 0;
  padding: 0;
}

body.loading::before {
  content: 'Loading...';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

body.loading-error::before {
  content: 'There was an error :(';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
